<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucznik.ucznik">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ucznik.view.activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ucznik.view.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName="com.ucznik.view.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.ucznik.view.activities.TopicsActivity"
            android:label="@string/topics"
            android:theme="@style/AppThemeActionBar" />
        <activity
            android:name="com.ucznik.view.activities.QuestionsActivity"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.ucznik.view.activities.LearnActivity"></activity>
    </application>

</manifest>